<div class="dropdown user-dropdown">
  <button type="button" class="show-dropdown align-vertical" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <div class="user-picture">
      <img src="{{user.imagenUrl}}">
    </div>
    <i class="fa fa-caret-down" aria-hidden="true"></i>
  </button>

  <div class="dropdown-menu" aria-labelledby="dropdown-button">
    <ul class="dropdown-list" role="menu">
      <li>
        <a routerLink="/profile/{{user.username}}" class="link">
          <i class="fa fa-user" aria-hidden="true"></i>Perfil
        </a>
      </li>

      <li>
        <a routerLink="/settings" class="link">
          <i class="fa fa-cogs" aria-hidden="true"></i>Configuración
        </a>
      </li>

      <li class="divider"></li>

      <li>
        <button (click)="logout()" class="link">
          <i class="fa fa-sign-out" aria-hidden="true"></i>Salir
        </button>
      </li>
    </ul>
  </div>
</div>
