body {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('assets/img/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v7/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(http://fonts.gstatic.com/s/montserrat/v7/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.container-fluid {
  padding-top: 75px;
}

textarea {
  resize: none;
}

button:focus {
  outline: none;
}

.username {
  color: #a9a1a1;
}

.loading {
  width: 100vw;
  height: 100vh;
  color: #fff;
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Clases utilitarias */
.flex {
  display: flex;
}

.align-vertical {
  display: flex;
  align-items: center;
}

.align-full {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.pull-left-100 {
  float: left;
  width: 100%;
}

.shadow {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

/**
 * Formularios. Basados en:
 * http://azmind.com/2015/11/06/bootstrap-login-register-forms-templates/
 */
.form-box .form-top {
  overflow: hidden;
  padding: 0 25px;
  background: #f5f5f5;
  border-radius: 4px 4px 0 0;
  text-align: left;
}

.form-box .form-top-left {
  float: left;
  width: 75%;
  padding-top: 25px;
}

.form-box .form-top-left h3,
.form-box .form-top-left h4 {
  margin-top: 0;
}

.form-box .form-top-right {
  float: left;
  width: 25%;
  padding-top: 5px;
  font-size: 66px;
  color: #ddd;
  line-height: 100px;
  text-align: right;
}

.form-box .form-top-right .fa {
  color: #03baca;
  font-size: 0.75em;
}

.form-box .form-bottom {
  padding: 25px 25px 15px 25px;
  background: #eee;
  border-radius: 0 0 4px 4px;
  text-align: left;
}

.form-box .form {
  display: flex;
  flex-direction: column;
}

.form-box .form .form-group:last-of-type {
  margin-bottom: 15px
}

.form-box .form label {
  font-size: 14px;
}

.form-box .form .btn {
  padding: 6px 25px;
  align-self: center;
  display: block;
  margin: 0 auto;
}

.form-box .form-bottom .input-error {
  border-color: #19b9e7;
}

.form-box .form input[type="text"] {
  height: 50px;
}

.form-box .form input[type="text"],
.form-box .form textarea {
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  background: #fff;
  border: 3px solid #ddd;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 50px;
  color: #888;
  border-radius: 4px;
  box-shadow: none;
  transition: all .3s;
}

.form-box .form textarea {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 30px;
}

.form-box .form input[type="text"]:focus,
.form-box .form textarea:focus {
  outline: 0;
  border: 3px solid #ccc;
  box-shadow: none;
}

.form-box .form input[type="text"]:-moz-placeholder,
.form-box .form textarea:-moz-placeholder {
  color: #888;
}

.form-box .form input[type="text"]::-webkit-input-placeholder,
.form-box .form textarea::-webkit-input-placeholder {
  color: #888;
}

/**
 * Basado en:
 * http://www.cssscript.com/pretty-checkbox-radio-inputs-bootstrap-awesome-bootstrap-checkbox-css/
 */
.form-box .radio {
  padding-left: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-box .radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}

.form-box .radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  transition: border 0.15s ease-in-out;
}

.form-box .radio label::after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  transform: scale(0, 0);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.form-box .radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
}

.form-box .radio input[type="radio"]:checked + label::after {
  transform: scale(1, 1);
}
