body {
  width: 100%;
  height: 100%;
  background-color: #F3F8F7;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v7/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(http://fonts.gstatic.com/s/montserrat/v7/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.container-fluid {
  padding-top: 75px;
}

.contenido {
  padding: 75px 7vw 0;
  margin-bottom: 20px;
  float: left;
  width: 100%;
}

textarea {
  resize: none;
}

button:focus {
  outline: none;
}

.username {
  color: #a9a1a1;
  font-style: italic;
}

.loading {
  width: 100vw;
  height: 100vh;
  // color: #000;
  color: #337ab7;
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.link {
  background: none;
  border: none;
  padding: 0;
  text-align: left;
}

.shadow {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
}

.radius {
  border-radius: 4px;
  overflow: hidden;
}

/* Clases utilitarias */
.flex {
  display: flex;
}

.center-x {
  display: flex;
  justify-content: center;
}

.center-y {
  display: flex;
  align-items: center;
}

.center-xy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pull-left-100 {
  float: left;
  width: 100%;
}

.pull-right-100 {
  float: right;
  width: 100%;
}

.img-responsive {
  width: 100%;
}

/**
 * Formularios. Basados en:
 * http://azmind.com/2015/11/06/bootstrap-login-register-forms-templates/
 */
input[type="text"],
textarea {
  margin: 0;
  vertical-align: middle;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #888;
  border-radius: 4px;
  box-shadow: none;
  transition: all .3s;
}

.form-box .form-top {
  overflow: hidden;
  padding: 0 25px;
  background: #f5f5f5;
  border-radius: 4px 4px 0 0;
  text-align: left;
}

.form-box .form-top-left {
  float: left;
  width: 75%;
  padding: 25px 0;
}

.form-box .form-top-left h3,
.form-box .form-top-left h4 {
  margin-top: 0;
}

.form-box .form-top-left :last-child {
  margin-bottom: 0;
}

.form-box .form-top-right {
  float: left;
  width: 25%;
  font-size: 66px;
  color: #ddd;
  line-height: 100px;
  text-align: right;
}

.form-box .form-top-right .fa {
  color: #03baca;
  font-size: 0.75em;
}

.form-box .form-bottom {
  padding: 25px 25px 15px 25px;
  background: #eee;
  border-radius: 0 0 4px 4px;
  text-align: left;
}

.form-box .form {
  display: flex;
  flex-direction: column;
}

.form-box .form .form-group:last-of-type {
  margin-bottom: 15px
}

.form-box .form label {
  font-size: 14px;
}

.form-box .form-btn {
  display: flex;
  justify-content: center;
}

.form-box .form-bottom .input-error {
  border-color: #19b9e7;
}

.form-box .form input[type="text"],
.form-box .form textarea {
  padding: 10px;
  font-size: 16px;
  height: auto;
  width: 100%;
  border: 3px solid #ddd;
}

.form-box .form input[type="text"]:focus,
.form-box .form textarea:focus {
  outline: 0;
  border: 3px solid #ccc;
  box-shadow: none;
}

.form-box .form input[type="text"]:-moz-placeholder,
.form-box .form textarea:-moz-placeholder {
  color: #888;
}

.form-box .form input[type="text"]::-webkit-input-placeholder,
.form-box .form textarea::-webkit-input-placeholder {
  color: #888;
}

/**
 * Basado en:
 * http://www.cssscript.com/pretty-checkbox-radio-inputs-bootstrap-awesome-bootstrap-checkbox-css/
 */
.form-box .radio {
  padding-left: 35px;
  margin-top: 0;
  margin-bottom: 5px;
}

.form-box .radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}

.form-box .radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  transition: border 0.15s ease-in-out;
}

.form-box .radio label::after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  transform: scale(0, 0);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.form-box .radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
}

.form-box .radio input[type="radio"]:checked + label::after {
  transform: scale(1, 1);
}

/**
 * Basado en:
 * http://materializecss.com/buttons.html
 */
.btn-material {
  text-decoration: none;
  color: #fff;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.btn-material:hover {
  text-decoration: none;
}

.btn-material.disabled,
.btn-material[disabled] {
  opacity: .65;
  cursor: not-allowed;
}

/**
 * Dropdowns
 */
.show-dropdown {
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  outline: none;
  position: relative;
  height: 50px;
}

.dropdown-menu {
  top: 53px;
  border-radius: 0;
}

.dropdown-menu:before,
.dropdown-menu:after {
  border: 10px solid transparent;
  content: '';
  display: block;
  height: 0;
  right: 10px;
  position: absolute;
  width: 0;
}

.dropdown-menu:before {
  border-bottom-color: rgba(0, 0, 0, 0.15);
  top: -20px;
}

.dropdown-menu:after {
  border-bottom-color: #fff;
  top: -19px;
}

.dropdown-list {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

/**
 * Sidebar
 */
.sidebar .sidebar-item {
  border-left-width: 4px;
  border-left-style: solid;
  width: 100%;
  padding: 12px;
  background-color: #f3f3f3;
  display: block;
  color: #333;
  font-size: 15px;
}

.sidebar .sidebar-item:hover,
.sidebar .sidebar-item:focus {
  background-color: #e3e3e3;
  text-decoration: none;
  outline: none;
}

.sidebar .sidebar-item.active {
  background-color: #d3d3d3;
}

.sidebar .sidebar-item .fa {
  margin-right: 7px;
}

.sidebar .sidebar-item:nth-child(4n) {
  border-left-color: #6495ed;
}

.sidebar .sidebar-item:nth-child(4n + 1) {
  border-left-color: #9acd32;
}

.sidebar .sidebar-item:nth-child(4n + 2) {
  border-left-color: #cd5c5c;
}

.sidebar .sidebar-item:nth-child(4n + 3) {
  border-left-color: #ff8c00;
}
