.panel {
  height: 100%;
  width: 100%;
}

.panel-heading h3 {
  margin: 15px 0;
}

input[type=radio] {
  height: 15px;
  width: 15px;
}

label.radio {
  padding-left: 35px;
}

#boton {
  padding-top: 15px;
}
