<div class="form-box shadow">
  <div class="form-top">
    <div class="form-top-left">
      <h3>Nueva Ruta de Viaje</h3>
    </div>
    <div class="form-top-right">
      <i class="fa fa-plane" aria-hidden="true"></i>
    </div>
  </div>
  <div class="form-bottom">
    <form role="form" class="create-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text" name="nombre" class="form-control" autofocus required>
      </div>
      <div class="form-group">
        <label for="form-about-yourself">Descripción</label>
        <textarea id="descripcion" name="descripcion" rows="3" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label for="visibilidad">Visibilidad</label>
        <div class="radio">
          <input type="radio" name="visibilidad" value="PUBLICA" checked>
          <label>Pública</label>
        </div>
        <div class="radio">
          <input type="radio" name="visibilidad" value="PRIVADA">
          <label>Privada</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Siguiente</button>
    </form>
  </div>
</div>

