<div class="shadow">
  <sebm-google-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [streetViewControl]="ui"
    (mapClick)="onMapClick($event)"
    (mapRightClick)="onMapRightClick($event)"
  >
    <sebm-google-map-marker
      *ngFor="let m of markers; let i = index"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
    ></sebm-google-map-marker>
    <sebm-google-map-polyline
      *ngFor="let l of lines; let k = index; let f = first"
      [strokeColor]="color"
    >
      <sebm-google-map-polyline-point
        [latitude]="l.pointA.latitud"
        [longitude]="l.pointA.longitud"
      ></sebm-google-map-polyline-point>
      <sebm-google-map-polyline-point
        [latitude]="l.pointB.latitud"
        [longitude]="l.pointB.longitud"
      ></sebm-google-map-polyline-point>
    </sebm-google-map-polyline>
  </sebm-google-map>
</div>

