.creation-form {
  padding-right: 2vw;
  width: 35%;
  float: left;
}

.panel-map {
  width: 62%;
  float: right;
  height: calc(95vh - 75px);
  position: relative;
}

.search-location-textbox {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1000;
  width: 50%;
}

.creation-panel {
  width: 100%;
  height: 100%;
}
