<div class="preview-rv shadow">
  <section class="col-profile-picture">
    <img class="profile-picture" src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg">
  </section>

  <section class="col-rv">
    <a class="information" href="#">
      <strong class="nombre">Matías Mangiantini</strong>
      <span class="username">@matias.mangiantini</span>
    </a>

    <div class="rv">
      <h4 class="nombre-rv">Mi ruta de viaje</h4>
      <p class="descripcion-rv">
        Una descripción generica.
      </p>
      <img class="map" src="assets/img/sample-map.png">
    </div>
  </section>
</div>
