.preview-rv {
  background-color: #fff;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  float: left;
}

.background {
  float: left;
  padding: 15px;
  background-color: #fff;
}

.col-profile-picture {
  float: left;
}

.col-profile-picture .profile-picture {
  width: 75px;
  margin-right: 15px;
}

.col-rv {
  padding-right: 45px;
  float: right;
  width: calc(100% - 90px);
}

.col-rv .info-user {
  font-size: 1.1em;
}

.col-rv .info-rv {
  position: absolute;
  top: 15px;
  right: 15px;
}

.col-rv .rv {
  margin-top: 15px;
}

.col-rv .map {
  width: 100%;
}

.actions {
  float: left;
  width: 100%;
  border-top: 1px solid #ddd;
}

.actions button {
  float: left;
  width: 33.3333%;
  height: 35px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #f3f3f3;
}

.actions button + button {
  border-left: 1px solid #ddd;
}

.actions button .fa {
  margin-right: 7px;
}
