<div class="preview-rv shadow">
  <div class="background pull-left-100">
    <div [hidden]="!compartida" class="legend">
      <i class="fa fa-share" aria-hidden="true"></i>
      Compartido por <a href="#"><span class="username">@federico_sanches</span></a>
    </div>

    <div class="rv-map" (click)="showViewRV($event)">
      <img class="rv-picture" src="{{ post.rutaViaje.imagenUrl }}">
      <div class="gradient"></div>
      <h4 class="rv-name">{{post.rutaViaje.nombre}}</h4>
    </div>

    <div class="rv-body pull-left-100">
      <div class="rv-data">
        <i [hidden]="post.rutaViaje.publico" class="rv-visibilidad fa fa-lock" aria-hidden="true" title="Privada"></i>
        <i [hidden]="!post.rutaViaje.publico" class="rv-visibilidad fa fa-globe" aria-hidden="true" title="Pública"></i>
        <span class="rv-date-created"> · 10 min</span>
      </div>

      <div class="rv-user pull-left-100">
        <div class="wrapper-user-picture">
          <img class="user-picture" src="{{ post.creador.imagenUrl }}">
        </div>
        <a class="user-info" href="#">
          <strong class="user-nombre">{{ post.creador.nombre }} {{ post.creador.apellido }}</strong>
          <span class="username">@{{ post.creador.username }}</span>
        </a>
      </div>

      <div class="actions">
        <button [ngClass]="esRutaPropia(post.rutaViaje)" [hidden]="!post.rutaViaje.publico" class="compartir" (click)="shareButton($event, post.rutaViaje)">
          <i class="fa fa-share" aria-hidden="true"></i><span class="cantidad">{{post.rutaViaje.compartidos.length}}</span>
        </button>
        <button [ngClass]="esRutaPropia(post.rutaViaje)" class="favoritos" (click)="favButton($event, post.rutaViaje)">
          <i class="fa fa-star" aria-hidden="true"></i><span class="cantidad">{{post.rutaViaje.favoritos.length}}</span>
        </button>
        <button class="comentar" (click)="showViewRV($event)">
          <i class="fa fa-comment" aria-hidden="true"></i><span class="cantidad">{{post.rutaViaje.comentarios.length}}</span>
        </button>
      </div>
    </div>
  </div>
</div>

<apollo-view-rv [post]="post"></apollo-view-rv>
