.preview-rv {
  background-color: #fff;
}

.map {
  position: relative;
  cursor: pointer;
  min-height: 100px;
}

.map .gradient {
  background: linear-gradient(180deg, rgba(249,249,249,0), rgba(249,249,249,0),rgba(249,249,249,0), rgba(249,249,249,0.5), rgba(249,249,249,1));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.map .rv-name {
  margin: 0;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.info {
  width: 100%;
  position: relative;
  padding: 12px;
}

.metadata {
  position: absolute;
  top: 12px;
  right: 15px;
}

.user .avatar {
  width: 15%;
  margin-right: 10px;
}

.user .user-info {
  align-self: flex-start;
}

.user .user-info:hover {
  text-decoration: none;
}

.user .username {
  display: block;
}

.modal {
  background-color: rgba(73, 75, 76, 0.75);
  padding: 70px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding: 3px;
}

.actions button {
  margin: 0;
  padding: 0;
  margin-left: 15px;
  border: none;
  background-color: transparent;
}

.actions button:hover {
  color: #9ecfe9;
}

.actions button.activo {
  color: #3279b6;
}

.actions button.disabled {
  color: #808080;
  cursor: default;
}

.actions button .fa {
  margin-right: 2px;
}
