<div class="preview-user shadow">
  <div class="background">
    <div class="wrapper-picture">
      <img class="user-picture" src="{{user.imagenUrl}}" alt="Avatar">
    </div>
    <div class="user-info">
      <a routerLink="/profile/{{user.username}}" class="username-nombre">
        <strong class="user-nombre">{{user.nombre}} {{user.apellido}}</strong>
        <span class="username">@{{user.username}}</span>
      </a>
      <span class="rv-creadas">
        <i class="fa fa-plane" aria-hidden="true"></i>{{user.rutasViaje.length}} viajes creados
      </span>
    </div>
  </div>
</div>
