.preview-user {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.avatar {
  width: 70px;
  margin-right: 10px;
}

.info {
  padding: 5px 10px;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.data {
  width: 100%;
}

.creados {
  display: block;
}

.creados .fa {
  margin-right: 6px;
  position: relative;
  top: 1px;
}
