<div class="preview-user shadow radius">
  <div class="avatar">
    <img class="img-responsive" src="{{user.imagenUrl}}" alt="Avatar @{{user.username}}">
  </div>

  <div class="info">
    <a routerLink="/profile/{{user.username}}" class="data">
      <strong class="nombre">{{user.nombre}} {{user.apellido}}</strong>
      <span class="username">@{{user.username}}</span>
    </a>

    <span class="creados">
      <i class="fa fa-fw fa-plane" aria-hidden="true"></i>{{user.rutasViaje.length}} viajes creados
    </span>
  </div>
</div>
