.checkbox {
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}

.background {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.wrapper-checkbox {
  width: 35%;
  display: inline-block;
  position: relative;
}

.wrapper-checkbox img {
  width: 100%;
}

.wrapper-checkbox .check {
  display: none;
  position: absolute;
  top: 5%;
  right: 5%;
  width: 90%;
}

.user-info {
  padding: 5px 10px;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.username-nombre {
  width: 100%;
}

.rv-creadas {
  display: block;
}

.rv-creadas .fa {
  margin-right: 6px;
  position: relative;
  top: 1px;
}

.checked .wrapper-checkbox .user-picture {
  opacity: 0.2;
}

.checked .wrapper-checkbox .check {
  display: block;
}
