<div (click)="checkUser($event)" [ngClass]="classCheckbox()">
  <div class="background">
    <div class="wrapper-checkbox">
      <img class="user-picture" src="http://localhost:8080/images/usuario/1.jpg">
      <img class="check" src="assets/img/success.svg">
    </div>
    <div class="user-info">
      <div class="username-nombre">
        <strong class="user-nombre">Jon Snow</strong>
        <span class="username">@test</span>
      </div>
      <span class="rv-creadas">
        <i class="fa fa-plane" aria-hidden="true"></i>9 viajes creados
      </span>
    </div>
  </div>
</div>
