<apollo-navbar></apollo-navbar>

<button id="expand">
  <i class="fa fa-chevron-left" aria-hidden="true"></i>
</button>

<div class="contenido">
  <apollo-profile-card class="profile-card" [user]="users$ | async" [seguir]="false"></apollo-profile-card>

  <section id="publicaciones">
    <apollo-message-create-rv class="publicacion"></apollo-message-create-rv>

    <!-- Esto hay que eliminarlo cuando se le agregue funcionalidad, por ahora es de muestra.
    <apollo-preview-rv class="publicacion"></apollo-preview-rv>
    <apollo-preview-rv [publica]="false" class="publicacion"></apollo-preview-rv>
    <apollo-preview-rv [compartida]="true" class="publicacion"></apollo-preview-rv>
    <apollo-preview-rv class="publicacion"></apollo-preview-rv>
    <apollo-preview-rv [publica]="false" class="publicacion"></apollo-preview-rv>
    <apollo-preview-rv [publica]="false" class="publicacion"></apollo-preview-rv>
    <apollo-preview-rv [compartida]="true" class="publicacion"></apollo-preview-rv>
    <apollo-preview-rv class="publicacion"></apollo-preview-rv>
    <apollo-preview-rv [compartida]="true" class="publicacion"></apollo-preview-rv>
    <apollo-preview-rv [compartida]="true" class="publicacion"></apollo-preview-rv>
    -->
  </section>
</div>
