#expand {
  height: 100vh;
  float: left;
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  border: none;
  border-right: 1px solid #ddd;
  background-color: #f3f3f3;
}

.profile-card {
  padding-right: 2vw;
  width: 30%;
  float: left;
}

#publicaciones {
  padding-left: 2vw;
  width: 70%;
  float: right;
}

#publicaciones .rowx {
  float: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#publicaciones .publicacion {
  width: calc(50% - 0.5vw);
  margin-bottom: 20px;
  float: left;
}

#publicaciones.reduced {
  width: 100%;
  padding-left: 0;
}

#publicaciones.reduced .publicacion {
  width: calc(33.33% - 0.5vw);
}

@media (max-width: 991px) {
  .profile-card {
    width: 33.33%;
  }

  #publicaciones {
    width: 66.66%;
  }

  #publicaciones .publicacion {
    width: 100%;
  }

  #publicaciones.reduced .publicacion {
    width: calc(50% - 0.5vw);
  }
}

@media (max-width: 767px) {
  #expand {
    display: none;
  }

  .profile-card {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
  }

  #publicaciones {
    width: 100%;
    padding: 0;
  }

  #publicaciones.reduced .publicacion {
    width: 100%;
  }
}
