<apollo-navbar></apollo-navbar>

<button id="expand">
  <i class="fa fa-chevron-left" aria-hidden="true"></i>
</button>

<div class="container-fluid">
  <div class="row">
    <section id="perfil">
      <apollo-profile-card></apollo-profile-card>
    </section>

    <section id="publicaciones">
      <apollo-message-create-rv class="publicacion"></apollo-message-create-rv>

      <apollo-preview-rv class="publicacion"></apollo-preview-rv>
      <apollo-preview-rv [publica]="false" class="publicacion"></apollo-preview-rv>
      <apollo-preview-rv [compartida]="true" class="publicacion"></apollo-preview-rv>
      <apollo-preview-rv class="publicacion"></apollo-preview-rv>
      <apollo-preview-rv [publica]="false" class="publicacion"></apollo-preview-rv>
      <apollo-preview-rv [publica]="false" class="publicacion"></apollo-preview-rv>
      <apollo-preview-rv [compartida]="true" class="publicacion"></apollo-preview-rv>
      <apollo-preview-rv class="publicacion"></apollo-preview-rv>
      <apollo-preview-rv [compartida]="true" class="publicacion"></apollo-preview-rv>
      <apollo-preview-rv [compartida]="true" class="publicacion"></apollo-preview-rv>
    </section>
  </div>
</div>
