<apollo-navbar></apollo-navbar>

<article class="contenido">
  <section class="col-md-3 col-sm-6 profile-card">
    <div class="row">
      <apollo-profile-card [user]="users$ | async"></apollo-profile-card>
    </div>
  </section>

  <section class="col-md-9 col-sm-6 publicaciones">
    <div class="row">
      <div *ngFor="let unPost of posts" class="col-md-6 publicacion">
        <div class="row">
          <apollo-preview-rv [post]="unPost"></apollo-preview-rv>
        </div>
      </div>
    </div>
  </section>
</article>
