<nav class="navbar navbar-default navbar-fixed-top">
  <div class="contenido">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <apollo-navbar-logo></apollo-navbar-logo>
    </div>

    <div [hidden]="!search" id="search" class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Búsqueda">
      </div>
      <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
    </div>

    <div [hidden]="!dropdown" id="navbar-collapse" class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <apollo-notifications></apollo-notifications>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </a>

          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-user"></span>Configuración
              </a>
            </li>

            <li class="divider"></li>

            <li>
              <a href="#">
                <span class="glyphicon glyphicon-log-out"></span>Salir
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
