.container-fluid {
  padding-top: 0;
}

.navbar {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #337ab7;
  width: 100%;
  border-radius: 0;
  border-width: 0;
}

.dropdown {
  margin-right: 15px;
}

.dropdown .dropdown-toggle {
  color: #333;
}

.dropdown li {
  margin: 0 12px;
}

.dropdown li.divider {
  margin: 6px 0;
}

.dropdown-menu {
  padding: 6px 0;
}

.dropdown-menu a {
  padding: 3px 0;
}

.dropdown-menu a .glyphicon {
  padding: 0 7px 0 5px;
  position: relative;
  top: 2px;
}
