.contenido {
  padding-top: 0;
  margin-bottom: 0;
}

.navbar {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #337ab7;
  width: 100%;
  border-radius: 0;
  border-width: 0;
}

.navbar a {
  color: #fff;
}

.navbar .active a {
  color: #fff;
  background-color: transparent;
}
