<nav class="navbar navbar-default navbar-fixed-top">
  <div class="contenido">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="page-scroll" href="#page-top">
          <apollo-navbar-logo></apollo-navbar-logo>
      </a>
    </div>

    <div class="collapse navbar-collapse navbar-right navbar-main-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="#about">Acerca de</a>
        </li>
        <li>
          <a class="page-scroll" href="#nosotros">Nosotros</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



