<li class="item">
  <div class="item-border">
    <div class="profile-picture">
      <img src="http://localhost:8080/images/usuario/2.jpg">
    </div>

    <!-- Cuando alguien te sigue. -->
    <div *ngIf="seguido" class="details seguido">
      <span class="title">
        <a class="username" href="#">@juanbono94</a> te sigue
      </span>
      <i aria-hidden="true" class="fa fa-user-circle-o"></i>
      <span class="date">05:20 AM</span>
    </div>

    <!-- Cuando marcan como favorito una RV. -->
    <div *ngIf="favorito" class="details favorito">
      <span class="title">
        <a class="username" href="#">@juanbono94</a> marcó favorita tu <a href="#">ruta de viaje</a>
      </span>
      <i aria-hidden="true" class="fa fa-star"></i>
      <span class="date">05:20 AM</span>
    </div>

    <!-- Cuando comentan una RV. -->
    <div *ngIf="comentado" class="details comentado">
      <span class="title">
        <a class="username" href="#">@juanbono94</a> comentó tu <a href="#">ruta de viaje</a>
      </span>
      <i aria-hidden="true" class="fa fa-comment"></i>
      <span class="date">05:20 AM</span>
    </div>

    <!-- Cuando comparten una RV. -->
    <div *ngIf="compartido" class="details compartido">
      <span class="title">
        <a class="username" href="#">@juanbono94</a> compartió tu <a href="#">ruta de viaje</a>
      </span>
      <i aria-hidden="true" class="fa fa-share"></i>
      <span class="date">05:20 AM</span>
    </div>
  </div>
</li>
