<apollo-navbar-welcome></apollo-navbar-welcome>

<div id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <!-- Introduccion -->
  <header class="intro">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="brand-heading">Apollo</h1>
            <p class="pintro">Comparte tu viaje con el mundo o inspírate</p>
            <a href="http://localhost:8080/auth/google" class="btn btn-default btn-lg">
              <i class="fa fa-google fa-fw"></i><span class="network-name">Sign In</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Acerca de Section -->
  <section id="about" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Acerca de Apollo</h2>
        <p>Apollo es un proyecto que comenzo en la catedra de Ingeniería de Software en la <a href="http://www.frd.utn.edu.ar">UTN FRD</a>.</p>
        <p>A través de esta red social, se trató de resolver el problema de miles de personas que buscan realizar un viaje con éxito y con el menor esfuerzo posible, de la mano de viajeros que ya estuvieron en el lugar o quieren realizar la misma travesía.</p>
      </div>
    </div>
  </section>

  <!-- Contacto Section -->
  <section id="contact" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Contáctate con Nosotros</h2>

        <p>Puedes visitarnos en las redes sociales.</p>
        <ul class="list-inline banner-social-buttons">
          <li>
            <a href="#" class="btn btn-default btn-lg">
              <i class="fa fa-facebook fa-fw"></i>
              <span class="network-name">Facebook</span>
            </a>
          </li>
          <li>
            <a href="#" class="btn btn-default btn-lg">
              <i class="fa fa-twitter fa-fw"></i>
              <span class="network-name">Twitter</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/apollo-utn-frd/apollo" class="btn btn-default btn-lg">
              <i class="fa fa-github fa-fw"></i>
              <span class="network-name">Github</span>
            </a>
          </li>
        </ul>

        <p>¡Siéntete libre de escribirnos a nuestro email para poder seguir mejorando!</p>
        <p><a href="mailto:feedback@apollo.com">feedback@apollo.com</a></p>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer>
    <div class="container text-center">
      <p>Copyright &copy; Apollo Corp. 2016</p>
    </div>
  </footer>

</div>
