.view-rv {
  display: flex;
  align-content: space-around;
  width: 100%;
  height: 100%;
}

.map {
  width: 70%;
  height: 100%;
  background-color: #eaeaea;
}

.map .google-map {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 100%;
  height: 100%;
}

.body {
  width: 30%;
  overflow-y: scroll;
  background-color: #fff;
}

.info {
  position: relative;
  width: 100%;
  padding: 20px;
}

.metadata {
  position: absolute;
  top: 20px;
  right: 20px;
}

.user .avatar {
  width: 70px;
  margin-right: 10px;
}

.user .user-info {
  align-self: flex-start;
}

.user .user-info:hover {
  text-decoration: none;
}

.user .username {
  display: block;
}

.data {
  width: 100%;
  position: relative;
  margin-top: 15px;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.actions button {
  margin: 0;
  padding: 0;
  margin-left: 15px;
  border: none;
  background-color: transparent;
}

.actions button:hover {
  color: #9ecfe9;
}

.actions button.activo {
  color: #3279b6;
}

.actions button.disabled {
  color: #808080;
  cursor: default;
}

.actions button .fa {
  margin-right: 2px;
}

.line {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  height: 1px;
  background-image: linear-gradient(to left, #d5dfe8, #8c8c8c, #d5dfe8);
}

.comments {
  background-color: #F3F8F7;
}

.new-comment {
  padding: 20px;
}

.new-comment .form {
  display: flex;
  flex-direction: column;
}

.new-comment .input {
  margin-bottom: 5px;
  padding: 10px;
  font-size: 14px;
  height: auto;
  width: 100%;
  border: 3px solid #ccc;
}

.new-comment .input:focus {
  outline: 0;
  border: 3px solid #ccc;
}

.new-comment button {
  align-self: flex-end;
}

.list-comments .comment {
  padding: 20px;
  display: block;
}

.list-comments .comment:first-of-type {
  padding-top: 0;
}
