.container-fluid {
  margin-bottom: 20px;
}

/**
 * Polaorid. Basado en:
 * https://paulund.co.uk/create-polaroid-image-with-css
 */
a.polaroid {
  background: white;
  display: inline;
  float: left;
  margin: 0 15px 30px;
  padding: 10px 10px 70px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: all .15s linear;
  z-index: 0;
  position: relative;
  transform: rotate(4deg);
}

a.polaroid:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}

a.polaroid::after {
  color: #333;
  font-size: 20px;
  content: attr(title);
  position: relative;
  top: 30px;
  font-family: 'Indie Flower', cursive;
}

a.polaroid img {
  display: block;
  width: inherit;
}

@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  src: local('IndieFlower'), url(https://fonts.gstatic.com/s/indieflower/v8/10JVD_humAd5zP2yrFqw6ugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
