<apollo-navbar [search]="false" [dropdown]="false"></apollo-navbar>

<div class="container-fluid">
  <div class="row align-vertical">
    <div class="col-md-4 col-md-offset-1">
      <a title="Apollo es una nueva forma de viajar" class="polaroid" href="">
        <img class="img-responsive" alt="Travel plan" src="assets/img/travelplan.jpg">
      </a>
    </div>

    <div class="col-md-5 col-md-offset-1">
      <div class="form-box shadow">
        <div class="form-top">
          <div class="form-top-left">
            <h3>Regístrate en Apollo</h3>
            <p>Debes completar los siguientes datos.</p>
          </div>
          <div class="form-top-right">
            <i class="fa fa-plane" aria-hidden="true"></i>
          </div>
        </div>
        <div class="form-bottom">
          <form role="form" class="registration-form" [formGroup]="this.form" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="username">Nombre de Usuario</label>
              <input id="username" type="text" name="username" formControlName="username" placeholder="Nombre de usuario" class="form-control" autofocus required>
            </div>
            <div class="form-group">
              <label for="form-last-name">Nombre</label>
              <input id="nombre" type="text" name="nombre" formControlName="nombre" placeholder="Nombre" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="apellido">Apellido</label>
              <input id="apellido" type="text" name="apellido" formControlName="apellido" placeholder="Apellido" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="form-about-yourself">Descripción</label>
              <textarea id="descripcion" name="descripcion" formControlName="descripcion" rows="3" placeholder="Cuéntanos sobre ti" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Registrarse</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
