.info {
  position: relative;
  width: 100%;
}

.metadata {
  position: absolute;
  top: 0;
  right: 0;
}

.avatar {
  width: 50px;
  display: inline-block;
  margin-right: 8px;
}

.user-info:hover {
  text-decoration: none;
}

.username {
  display: block;
}

.content {
  margin-top: 10px;
  width: 100%;
}

.content p:last-of-type {
  margin-bottom: 0;
}
