<div class="comment-header flex">
  <div class="wrapper-user-picture">
    <img class="user-picture" src="{{comment.usuario.imagenUrl}}">
  </div>
  <div class="comment-info">
    <a class="user-info" href="#">
      <strong class="user-nombre">{{comment.usuario.nombre}} {{comment.usuario.apellido}}</strong>
      <span class="username">@{{comment.usuario.username}}</span>
    </a>
    <span class="comment-date-created">5 min</span>
  </div>
</div>

<div class="comment-content">
  <p>{{comment.contenido}}</p>
</div>
