<article class="comment">
  <section class="info">
    <div class="metadata hidden-xs">
      <span class="date">{{comment.dateCreated}}</span>
    </div>

    <div class="user flex">
      <a routerLink="/profile/{{comment.usuario.username}}" class="avatar">
        <img class="img-responsive" src="{{comment.usuario.imagenUrl}}" alt="Avatar @{{comment.usuario.username}}">
      </a>

      <a routerLink="/profile/{{comment.usuario.username}}" class="user-info">
        <strong class="user-nombre">{{comment.usuario.nombre}} {{comment.usuario.apellido}}</strong>
        <span class="username">@{{comment.usuario.username}}</span>
      </a>
    </div>
  </section>

  <section class="content">
    <p>{{comment.contenido}}</p>
  </section>
</article>
