<div class="pcard shadow">
  <div class="pcard-body pull-right">
    <section class="avatar">
      <img class="img-responsive" src="{{(user | async)?.pictureUrl}}" alt="Avatar">
    </section>

    <section class="info-user">
      <h2>{{ (user | async)?.nombre }} {{ (user | async)?.apellido }}</h2>
      <em class="username">@{{ (user | async)?.username }}</em>

      <div class="description">
        <p> {{ (user | async)?.descripcion }} </p>
      </div>
    </section>

    <section [hidden]="!seguir" class="seguir">
      <button class="btn btn-material btn-primary">
        <i class="fa fa-user-plus" aria-hidden="true"></i>Seguir
      </button>
    </section>

    <section [hidden]="!panelRutas" class="panel-statistics shadow">
      <div id="creadas" class="statistics">
        <h4 class="panel-title">
          <a href="#" role="button">
            <i class="fa fa-plane" aria-hidden="true"></i>{{ (user | async)?.rutasViaje.length }} viajes creados
          </a>
        </h4>
      </div>

      <div id="favoritas" class="statistics">
        <h4 class="panel-title">
          <a href="#" role="button">
            <i class="fa fa-star" aria-hidden="true"></i>{{ (user | async)?.favoritos.length }} viajes favoritos
          </a>
        </h4>
      </div>

      <div id="seguidores" class="statistics">
        <h4 class="panel-title">
          <a href="#" role="button">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>{{ (user | async)?.seguidores.length }} seguidores
          </a>
        </h4>
      </div>

      <div id="siguiendo" class="statistics">
        <h4 class="panel-title">
          <a href="#" role="button">
            <i class="fa fa-user-circle" aria-hidden="true"></i>{{ (user | async)?.seguidos.length }} siguiendo
          </a>
        </h4>
      </div>
    </section>
  </div>
</div>
