<div class="pcard shadow">
  <div class="pcard-body pull-right">
    <section class="avatar">
     <img class="img-responsive" src="{{user.imagenUrl}}" alt="Avatar">
    </section>

    <section class="info-user">
      <h2>{{user.nombre}} {{user.apellido}}</h2>
      <em class="username">@{{user.username}}</em>

      <div class="description">
        <p>{{user.descripcion}}</p>
      </div>
    </section>

    <section *ngIf="!isCurrentUser(user)" class="seguir">
      <!--
      Si el usuario logueado ya sigue a este usuario.
      <button class="btn-material btn-danger">
        <i class="fa fa-user-times" aria-hidden="true"></i>Eliminar
      </button>
      -->
      <button (click)="toggleButton($event)" class="btn-material btn-primary">
        <i class="fa fa-user-plus" aria-hidden="true"></i>
        <span class="text">Seguir</span>
      </button>
    </section>

    <section *ngIf="panelRutas" class="panel-statistics shadow">
      <div id="creadas" class="statistics">
        <h4 class="panel-title">
          <a (click)="router($event)" href="/profile/{{user.username}}/routes">
            <i class="fa fa-plane" aria-hidden="true"></i>{{user.rutasViaje.length}} viajes creados
          </a>
        </h4>
      </div>

      <div id="favoritas" class="statistics">
        <h4 class="panel-title">
          <a (click)="router($event)" href="/profile/{{user.username}}/favorites">
            <i class="fa fa-star" aria-hidden="true"></i>{{user.favoritos.length}} viajes favoritos
          </a>
        </h4>
      </div>

      <div id="seguidores" class="statistics">
        <h4 class="panel-title">
          <a (click)="router($event)" href="/profile/{{user.username}}/subscribers">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>{{user.seguidores.length}} seguidores
          </a>
        </h4>
      </div>

      <div id="siguiendo" class="statistics">
        <h4 class="panel-title">
          <a (click)="router($event)" href="/profile/{{user.username}}/subscriptions">
            <i class="fa fa-user-circle" aria-hidden="true"></i>{{user.seguidos.length}} siguiendo
          </a>
        </h4>
      </div>
    </section>
  </div>
</div>
