.pcard {
  overflow: hidden;
  background: #ffffff;
  border-radius: 4px;
  text-align: left;
}

.pcard-header .img-responsive {
  width: 100%;
}

.information {
  padding: 5px 15px 25px;
  float: left;
  background-color: #fff;
}

.information h2 {
  margin-bottom: 5px;
}

.information em {
  padding-bottom: 10px;
  float: left;
}

.information .description,
.panel-statistics,
.statistics {
  float: left;
  width: 100%;
}

.panel-statistics {
  margin-bottom: 0;
}

.information .description p:last-of-type {
  margin: 0;
}

.statistics {
  margin-bottom: 0;
  padding: 10px 15px;
  background-color: #f5f5f5;
}

.statistics + .statistics {
  margin-bottom: 0;
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
}

.statistics i.fa {
  margin-right: 7px;
}
